@model IEnumerable<Superluminal.Models.ViewModels.Parent>


    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5,
        selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.All);
    }

    <div id="gridContent">
        @grid.GetHtml(tableStyle: "table",
             headerStyle: "header",
             alternatingRowStyle: "alt",
             selectedRowStyle: "select",
            columns: new[]
        {
         grid.Column("Id", "Id"),
         grid.Column("FullName", "Parent"),
         grid.Column("PostCode", "PostCode"),
         grid.Column("Phone", "Phone")
        })
    </div>



  